@page "/csharpinterop"

@*
    Demonstrates how to call a C# method from JavaScript using the JS Interop

    See the /wwwroot/js/JSInteropCSharpExample.js for the JavaScript function is being called from the Square and Triangle buttons
    See the /Client/CSharpInterop.cs for the C# method being called from the JavaScript
*@

<h1>JavaScript Interop Example</h1>

Demonstrates how to call a C# method from a JavaScript function
<br />

<button onclick="shape('square');">Square</button>
<button onclick="shape('triangle');">Triangle</button>