@page "/routecolor/{Color}"

@*
    Shows an example of a route taking in a parameter (Color) and displaying it on screen.
*@

<h1>You chose @Color</h1>

@functions {
    public string Color { get; set; }
}
